/* Navbar.css */
.navbar {
  background: #2196F3;
  padding: 0.8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
}



.navbar-brand span {
  /* font-size: 1.5rem; */
  font-weight: bold;
  color: #ffffff; /* White color for the brand text */
}

.nav-link {
  font-size: 1rem;
  /* padding: 0.5rem 1rem; */
  color: #ffffff; /* White color for the links */
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #64B5F6; /* Yellow color on hover */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin-left: 1rem;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
